html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}
/* NAV TOP */
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
  outline: none;
}

.searchInput::placeholder {
  color: lightgrey;
}

.limittedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

/* END NAV TOP */

/* NAV BOTTOM */

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgrey;
}

/* END NAV BOTTOM */

/* SLIDER */

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 1% 85%);
  overflow: hidden;
}

.silderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

.silderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slideBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.sliderImg {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}
.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 1px solid gray;
  z-index: 1;
}

.buyBtn {
  position: absolute;
  top: 50%;
  right: 10%;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  border: 1px solid gray;
  z-index: 1;
  cursor: pointer;
  background-color: black;
}

.buyBtn:hover {
  background-color: #fff;
  color: #111;
}

.silderItem:nth-child(1) .slideBg {
  background-color: #369e62;
}

.silderItem:nth-child(2) .slideBg {
  background-color: rebeccapurple;
}

.silderItem:nth-child(3) .slideBg {
  background-color: teal;
}

.silderItem:nth-child(4) .slideBg {
  background-color: cornflowerblue;
}

.silderItem:nth-child(5) .slideBg {
  background-color: rgb(124, 115, 80);
}

.silderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}

.silderItem:nth-child(2) .sliderPrice {
  color: white;
}

.silderItem:nth-child(3) .sliderPrice {
  color: teal;
}

.silderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}

.silderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}

/* END SLIDER */

/* features */
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 100%;
  height: 50px;
}
/* End Features */

/* product */

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
  text-transform: uppercase;
}

.productDesc {
  font-size: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.productBtn {
  float: right;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #111;
  color: #fff;
  font-weight: 600;
}

.productBtn:hover {
  background-color: #fff;
  color: #111;
}
.clear {
  clear: both;
}

/* payment */
.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  /* display: flex; */
  flex-direction: column;
  box-shadow: 18px -10px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 18px -10px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px -10px 10px 1px rgba(0, 0, 0, 0.75);
  display: none;
}

.payTitle {
  font-size: 20px;
  color: lightgray;
}

label {
  font-size: 14px;
  font-weight: 300;
}

.payInput {
  padding: 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.cardIcons {
  display: flex;
}
.cardIcon {
  margin-right: 10px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}
.payInput.sm {
  width: 30%;
}
.payButton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  left: 0;
  width: 100%;
  /* box-shadow: 21px -8px 9px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 21px -8px 9px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 21px -8px 9px 1px rgba(0, 0, 0, 0.75); */
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 2px;
}
/* end payment */

/*End product */

/* gallery */

.gallery {
  padding: 50px;
  display: flex;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}
.galleryImg {
  width: 100%;
}
/* /gallery */

/* new season */

.newSeason {
  display: flex;
}
.nsItem {
  flex: 1;
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: 500px;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}
/*end new season */

/* footer */
footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: #111;
  color: #fff;
  border: none;
}

.fIcons {
  display: flex;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
}

/*End footer */

/* for mobile */

@media screen and (max-width:480px) {
  nav{
    padding: 20px;
  }

  .search{
    display: none;
  }

  .navBottom{
    flex-wrap: wrap;
  }

  .menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider{
    clip-path: none;
    overflow: hidden;
  }

  .sliderImg{
    width: 90%;
  }

  .sliderBg{
    width: 100%;
    height: 100%;
  }

  .sliderTitle{
    display: none;
  }

  .sliderPrice{
    top: unset;
    bottom: -50;
    left: 0;
    background-color: lightgrey;
  }

  .buyButton{
    right: 0;
    top: 0;
  }

  .features{
    flex-direction: column;
  }

  .product{
    clip-path: none ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImg{
    width: 80%;
  }

  .productDetails{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle{
    font-size: 50px;
    margin: 0;
  }

  .gallery{
    display: none;
  }

  .newSeason{
    flex-direction: column;
  }

  .nsItem:nth-child(2){
    padding: 50px;
  }

  footer{
    flex-direction: column;
    align-items: center;
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment{
    width: 90%;
    padding: 20px;
  }
}
/* end responsive */
